<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039080583941-gotcdbf0il9de99vveduo2a3jilsuabr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039080583941-gotcdbf0il9de99vveduo2a3jilsuabr</string>
	<key>API_KEY</key>
	<string>AIzaSyCIsSZYwWeLAUMT--2jdXBdBKRIu9TkdmE</string>
	<key>GCM_SENDER_ID</key>
	<string>1039080583941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapExam</string>
	<key>PROJECT_ID</key>
	<string>myfirsttest-2ddf7</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirsttest-2ddf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039080583941:ios:20344d4bdc14557e40bd6c</string>
</dict>
</plist>